.ui-dialog-titlebar-close{
	background: url('../../../../lib/jquery-ui-1.10.3/themes/base/images/ui-icons_888888_256x240.png') no-repeat -34px -194px;
	border:none;
	width:15px !important;
	height:12px !important;
}

/* Add expense form */
#formAddExpense label{
	float:left;
	width:100%;
}
#formAddExpense input{
	float:left;
	width:100%;	
}
#formAddExpense select{
	float:left;
	width:100%;	
}
.formFix{
	float:left;
	width:100%;		
}
.cashValue{
	width:100px !important;
}
.expenseDate{
	width:100px !important;	
}
.formAddExpenseSeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.expenseAddSuccess{
	text-align: center;
	font-weight: bold;
	padding-bottom:5px;
	color:green;
}

/* Add income form */
#formAddIncome label{
	float:left;
	width:100%;
}
#formAddIncome input{
	float:left;
	width:100%;	
}
#formAddIncome select{
	float:left;
	width:100%;	
}
.formFix{
	float:left;
	width:100%;		
}
.cashValue{
	width:100px !important;
}
.incomeDate{
	width:100px !important;	
}
.formAddIncomeSeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.incomeAddSuccess{
	text-align: center;
	font-weight: bold;
	padding-bottom:5px;
	color:green;
}

/* Add category form */
.formAddCategorySeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.categoryMsgSuccess{
	text-align: center;
	font-weight: bold;
	padding-bottom:5px;
	color:green;
}
.categoryMsgError{
	text-align: center;
	font-weight: bold;
	padding-bottom:5px;
	color:red;
}
#formAddCategory label{
	width:100%;
}

/* Table panel */
#cashPanel{
	width:100%;
	background-color:#d3e1f1 !important;
	border:1px solid #CCC;
	text-align:center;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
#cashPanel th a{
	margin-right:30px;
}
.cashContainerTitle{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #000000;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	line-height:20px;
}

/* Tabelas */
#cashFlowTable{
	width:100%;
}
#cashFlowTable td{
	width:100%;
	border: 0 !important;
}
.cashFlowContainner{
	padding:30px;
}
.tableTitle{
	text-align:center;
}
.taskContainerTitle{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:1px solid #CCC;
	text-align:left;
	font-weight:bold;
	color:#ffffff;
	line-height:25px;
	text-align:center;
}

/* Fluxo de caixa mensal */
.tableRow td:first-child{
	width: 10% !important;
	max-width: 80px; 
	background: #e7e7e7;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-weight:bold;
    padding-left: 50px;
}
.tableRow td:not(:first-child){
	width: 5% !important;
	background: #e7e7e7;
	text-align: center;
	color: #000;
	border-right-style:solid !important;
	border-right-width:1px !important;
	border-right-color:#000 !important;
}
#listExpenses{
	width:100%;
}
#listExpenses td{
	width:100%;
	border: 0 !important;
}
#listIncomes{
	width:100%;
}
#listIncomes td{
	width:100%;
	border: 0 !important;
}
.months{
	font-weight:bold;
}
.totalRow{
	font-weight:bold;	
}