/***********************
*		Padrões			*
************************/
table{
	-moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none;
}

/***********************
*		Loader			*
************************/
.loader{
	width: 600px !important;
	height: 300px !important;
	background: #FFF;
}
.loader img{
	left: 50%;
	position: absolute;
	margin-left: -200px;
	width: 400px;
}

/***********************
*		Container		*
************************/
#taskContainer{
	border:solid #CCC;
	border-width:2px;
	width:900px;
	left: 50%;
	position: absolute;
	margin-left: -450px;
}
.taskContainerTitle{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #000000;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
	line-height:20px;
}
.ui-dialog-titlebar-close{
	background: url('../../../../lib/jquery-ui-1.10.3/themes/base/images/ui-icons_888888_256x240.png') no-repeat -34px -194px;
	border:none;
	width:15px !important;
	height:12px !important;
}

/***********************
*		Painel			*
************************/
#taskPanel{
	width:100%;
}
#taskPanel tr:first-child td{
	background-color:#d3e1f1 !important;
	border:0px solid #000000;
	text-align:center;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
#removeTask{
	width:16px;
	height:16px;
	background:url('../images/remove.gif') center center no-repeat;
	background-size: 100% 100%;
	float:left;
	margin-left:10px;
}
#addTask{
	width:16px;
	height:16px;
	background:url('../images/add.gif') center center no-repeat;
	background-size: 100% 100%;	
	float:left;
	margin-left:10px;
}
#doneTask{
	width:16px;
	height:16px;
	background:url('../images/done.png') center center no-repeat;
	background-size: 100% 100%;	
	float:left;
	margin-left:10px;
}
#doneTask2{
	width:16px;
	height:16px;
	background:url('../images/done.png') center center no-repeat;
	background-size: 100% 100%;	
	float:left;
	margin-left:10px;
}
.bgBtnContainer{
	float:left;	
	width:40px;
	margin-left:5px;
}
.bgBtnContainerTxt{
	width:130px;
	height:32px;
	padding-top: 7px;
	float:right;	
	text-align:center;
	font-weight:bold;
}
.activeTaskTypeDone{
	color: #555;
	background-color: #D0D0D0;
	border: aliceblue;
	border-left-color: white;
	border-left-style: solid;
	border-left-width: 2px;
	cursor:pointer;
}
.activeTaskTypeUndone{
	color: #555;
	background-color: #D0D0D0;
	border: aliceblue;
	border-right-color: white;
	border-right-style: solid;
	border-right-width: 2px;
	cursor:pointer;
}
#typeDone, #typeUndone{
	cursor:pointer;	
}

/***********************
* 	Tabela de tarefas	*
************************/
.taskList {
	margin:0px;
	padding:0px;	
}
.taskList table{
    border-collapse: collapse;
    border-spacing: 0;	
	height:100%;
	margin:0px;
	padding:0px;
	table-layout: fixed;
}
.taskList tr:nth-child(odd){ 
	background-color:#aad4ff; 
}
.taskList tr:nth-child(even){ 
	background-color:#ffffff; 
}
.taskList td{
	vertical-align:middle;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}
.taskList tr:not(:first-child){
	border-bottom-style:solid;
	border-bottom-width:1px;
}
.taskList #taskList tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.taskList tr:hover{
	background-color:#CCC;
}
.highlighted {
    color: #261F1D;
    background-color: #CCC !important;
}
.highlighted2 {
    color: #CCC;
    background-color: #CCC !important;
}
.done{
	background: #00CC00 !important;
}
#taskList{
	width:100%;
}
#taskList tr td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
}
#taskList tr td:first-child{
	width:200px;
}
#taskList tr td:nth-child(2){
	width:400px;	
}
#taskList tr td:nth-child(3){
	width:122px;	
}
#taskList tr td:nth-child(4){
	width:122px;	
}

/*************************
*	Formulário add tarefa *
**************************/
#formAddTask label{
	float:left;
	width:100%;
	position:relative;
}
#formAddTask input, #formAddTask textarea{
	float:right;
	width:100%;	
	position:relative;
}
.formAddTaskSeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.ui-dialog-buttonset{
	text-align:right;
}
#horaInicio, #minutoInicio, #horaFim, #minutoFim{
	width:100px !important;
}
.dataTime{
	float:left;
}


/************************
*	   Delete dialog	 *
*************************/
#deleteDialog{
	height:auto !important;
}
