/***********************
*		Padrões			*
************************/
body{
	overflow-y:scroll;
	overflow-x:hidden;
}
li{
	list-style-type: none;
}
a:link{
	color: #1919FF !important;
	font-weight:bold !important;
}
a:visited{
	color: #1919FF !important;	
	font-weight:bold !important;
}
#logonMessage{
	color: red;
	text-align:center;
}	
.ui-dialog-titlebar-close{
	background: url('../../lib/jquery-ui-1.10.3/themes/base/images/ui-icons_888888_256x240.png') no-repeat -34px -194px;
	border:none;
	width:15px !important;
	height:12px !important;
}

/***********************
*		Header			*
************************/
.welcomeText{
	font-weight:bold !important;
}
.welcome{
	padding-bottom: 10px;
	margin-left: 15px;
}
.welcome a{
	margin-left:20px;
}
.logo{
	width:90px;
	height:90px;
	border: 1px #e7e7e7 solid;
	padding:4px;
	margin:20px 0 -20px 20px;
}
.logoInner{
	width:80px;
	height:80px;
	border: 1px #e7e7e7 solid;
	border-bottom-width:0px !important;
	cursor:pointer;
}
.logoText{
	margin-top: 30px;
	margin-left: 20px;
	font-weight:bold;
	color:#B9B9B9;
}
.imagePreview{
	width:80px;
	height:80px;
	float:left;
}

/***************************
*		Main Menu			*
****************************/
.navbar-header{
	margin-left:10px;
}

/***************************
*	Formulário change photo *
****************************/
#formChangePhoto label{
	float:left;
	width:100%;
	position:relative;
}
.uploadFix{
	float: right;
	margin-top: 30px;
}
.formChangePhotoSeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.ui-dialog-buttonset{
	text-align:right;
}
#formMessageSuccess{
	color: green;
}
#formMessageError{
	color:red;
}

/************************
* 		  Home           *
*************************/
.homeGraficos{
	margin:20px;
	height:auto;
}
.homeInfos{
	position:absolute;
	bottom:0;
	width:100%;
	border:1px solid #CCC;
	height:250px;	
	-moz-box-shadow: 0px -2px 35px #888;
	-webkit-box-shadow: 0px -2px 35px #888;
	box-shadow: 0px -2px 35px #888;
	background:#f8f8f8;
	padding:0 20px 20px 20px;
}
.toggleButton{
	width:100px;
	height:30px;
	margin:0 auto;
	padding:0;
	cursor:pointer;
}
.arrowUp{
	background:url('../images/arrowUp.png') center center no-repeat;
	position: absolute;	
	bottom:-3px;
	width: 100px;
	left: 50%;
	margin-left: -50px;
}
.arrowDown{
	background:url('../images/arrowDown.png') center center no-repeat;
	position: absolute;	
	margin-top: -8px;
	width: 100px;
	left: 50%;
	margin-left: -50px;
}

/************************
* Formulário add usuário *
*************************/
#addUserForm{
	overflow: hidden;
}
#addUserForm label, #loginForm label{
	float:left;
	width:100%;
	position:relative;
}
#addUserForm input, #addUserForm select, #loginForm input{
	float:right;
	width:100%;	
	position:relative;
}
.addUserFormSeparator, .formLoginSeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.ui-dialog-buttonset{
	text-align:right;
}
.greenBorder{
	border: solid 2px green !important;;
}
.redBorder{
	border: solid 2px red !important;
}
#formMessage{	
	text-align: center;
	font-weight: bold;
}
#formMessageSuccess{	
	text-align: center;
	font-weight: bold;
}
#passSend{
	text-align: center;
	font-weight: bold;
	padding-bottom:5px;
	color:green;
}
#passError{
	text-align: center;
	font-weight: bold;
	padding-bottom:5px;
	color:red;
}
.firstNameReq{
	color: red;
	position: absolute;
	z-index: 4;
	width: 250px;
	margin-left: -110px;
	font-size: 11px;
	margin-top: 5px;
}
.lastNameReq{
	position: absolute;
	z-index: 4;
	width: 250px;
	margin-left: -110px;
	margin-top: 60px;
	font-size: 11px;
	color:red;
}
.emailReq{
	position: absolute;
	z-index: 4;
	width: 250px;
	margin-left: -110px;
	margin-top: 115px;
	font-size: 11px;
	color:red;
}
.emailReqForgot{
	position: absolute;
	z-index: 4;
	width: 250px;
	font-size: 11px;
	color:red;
	margin-left: 220px !important;
	margin-top: 10px !important;
}
.pass1{
	color: red;
	position: absolute;
	z-index: 4;
	font-size: 11px;
	width: 450px;
	margin-left: -240px;
	margin-top: 170px;
}
.pass2{
	color: red;
	position: absolute;
	z-index: 4;
	font-size: 11px;
	width: 450px;
	margin-left: -148px;
	margin-top: 225px;
}
.loginLink{
	color:blue !important;
	margin-left:10px;
}
.forgotPass{
	font-size:12px;
}

/************************
* 		Conteúdo		*
*************************/
#contentMainArea{
	border:solid;
}

/************************
*	 Grafico Saldo	     *
*************************/
.containerSaldo{
	padding:10px;
	border-top: 3px solid #d8e9fb;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width:660px;
	height:300px;
	float:left;
}

/************************
*	 TarefasVencer	     *
*************************/
.titleTarefasVencer h6{
	float:left;
}
.titleTarefasVencer a{
	float:right;
	margin-top: 10px;
}
#tarefasVencer{
	padding-top:25px;
}
.containerTarefas{
	padding:10px;
	float:right;
	border-top: 3px solid #66FF66;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width:630px;
	height:300px;
}
.tarefasVencer{
	margin-top:25px;
	width:100%;
	float:left;
}
.tarefasVencer tr:nth-child(odd):not(:first-child){ 
	background-color:#aad4ff; 
}
.tarefasVencer tr:nth-child(even):not(:first-child){ 
	background-color:#ffffff; 
}
.tarefasVencer tr td:nth-child(2){
	width:200px;
  	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    display:inline-block;
    text-align:left;
}
.tarefasVencer tr td:nth-child(1){
	width:150px;
  	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    display:inline-block;
    text-align:left;
}
.tarefasVencer tr:first-child{
	font-weight:bold;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#005fbf),color-stop(1,#003f7f));
	background: -moz-linear-gradient(center top,#005fbf 5%,#003f7f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");
	background: -o-linear-gradient(top,#005fbf,003f7f);
	background-color: #005fbf;
	border: 0 solid #000;
	text-align: center;
	font-size: 12px;
	font-family: Arial;
	font-weight: 700;
	color: #fff;
}


/************************
*	 Correções Mozila	*
*************************/
@-moz-document url-prefix() {
   .emailReq{
		position: absolute;
		z-index: 4;
		width: 250px;
		margin-left: -110px;
		margin-top: 105px;
		font-size: 11px;
		color:red;
	}
	.lastNameReq{
		position: absolute;
		z-index: 4;
		width: 250px;
		margin-left: -110px;
		margin-top: 55px;
		font-size: 11px;
		color:red;
	}
	.pass1{
		color: red;
		position: absolute;
		z-index: 4;
		font-size: 11px;
		width: 450px;
		margin-left: -240px;
		margin-top: 155px;
	}
	.pass2{
		color: red;
		position: absolute;
		z-index: 4;
		font-size: 11px;
		width: 450px;
		margin-left: -148px;
		margin-top: 205px;
	}
}