li{
	list-style-type: none;
}

/* Form add user */
#addUserForm{
	overflow: hidden;
}
#addUserForm label, #loginForm label{
	float:left;
	width:100%;
	position:relative;
}
#addUserForm input, #addUserForm select, #loginForm input{
	float:right;
	width:100%;	
	position:relative;
}
.addUserFormSeparator, .formLoginSeparator{
	margin-top:10px;
	padding-top:10px;
	width:100%;
	float:left;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCC;
}
.ui-dialog-buttonset{
	text-align:right;
}
.greenBorder{
	border: solid 2px green !important;;
}
.redBorder{
	border: solid 2px red !important;
}
#formMessage{	
	text-align: center;
	font-weight: bold;
}
#formMessageSuccess{	
	text-align: center;
	font-weight: bold;
}
.firstNameReq{
	color: red;
	position: absolute;
	z-index: 4;
	width: 250px;
	margin-left: -110px;
	font-size: 11px;
	margin-top: 5px;
}
.lastNameReq{
	position: absolute;
	z-index: 4;
	width: 250px;
	margin-left: -110px;
	margin-top: 60px;
	font-size: 11px;
	color:red;
}
.emailReq{
	position: absolute;
	z-index: 4;
	width: 250px;
	margin-left: -110px;
	margin-top: 115px;
	font-size: 11px;
	color:red;
}
.pass1{
	color: red;
	position: absolute;
	z-index: 4;
	font-size: 11px;
	width: 450px;
	margin-left: -240px;
	margin-top: 170px;
}
.pass2{
	color: red;
	position: absolute;
	z-index: 4;
	font-size: 11px;
	width: 450px;
	margin-left: -148px;
	margin-top: 225px;
}
.loginLink{
	color:blue !important;
	margin-left:10px;
}

/* Content Area */
#contentMainArea{
	border:solid;
}